@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Link Hub</h1>
    <h2>All your links. Now under one roof.</a></h2>
    <img src="~/images/LinkHub.jpeg" class="img-fluid" alt="Responsive image" />
</div>
