@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to Link Hub! We are committed to protecting your personal information and your right to privacy. We do not collect, or share any personal data, information, or user activity. Resources entered are public data. </p>
<img src="~/images/Privacy.jpeg" class="img-fluid" alt="Responsive image" />